# Ignore directories and files
Total_cancer_image_caption/
summery.docx
Weakly Supervised Multi.docx

# Ignore Word temp files
~$*.docx
.venv/
__pycache__/
.vscode/
outputs/lvit_nomasks/models/
output/lvit_masks/attention_maps/
